<div class="navigation">
  <button class="back-button" routerLink="/learn">Zurück zum lernen</button>
</div>

<div class="container">
  <div class="newWord">
    <div class="description">Gebe hier das deutsche Wort ein:</div>
    <input type="text" name="germanWord" [(ngModel)]="germanWord" placeholder="deutsch">

    <div class="description">Gebe hier das italienische Wort ein:</div>
    <input type="text" name="translation" [(ngModel)]="translation" placeholder="italienisch">
  </div>

  <div class="save-record">
    <button class="save-button" (click)="saveWord()">Speichern</button>
  </div>
</div>

