
.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #00B7FF;
  height: 100%;
}



.word {
  background-color: antiquewhite;
  padding: 1em;
  width: 40%;
  height: 40%;
  margin: 1em
}


.germanWord, .translatedWord {
  font-size: 2em;
}

.translatedWord {
  font-style: italic;
}


.showHideButton {
  margin: 1em;
}
