.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #00B7FF;
}
.navigation {
  padding: 1em;
  background-color: #00B7FF;
}

.back-button {
  font-size: 1.5em;
  padding: 0.5em;
}

.word {
  background-color: antiquewhite;
  padding: 1em;
  max-width: 25em;
  min-height: 10em;
  margin: 1em
}


.germanWord, .translatedWord {
  font-size: 1.5em;
}

.translatedWord {
  font-style: italic;
}

.showHideButton {
  font-size: 1.5em;
  margin-top: 1em;
}
