.homescreen, .welcome {
  display: grid;
  background-color: darkorange;
  width: 100%;
  height: 100%;
  justify-items: center;
  justify-content: center;
  padding: 2em;
}

.title, .text {
  font-size: 2em;
}

.buttons {
  margin: 1em;

  .learn-words, .record-words, .word-test{
    margin: 1em;
    height: 2em;
    font-size: 2em;
  }
}

