.homescreen, .welcome {
  display: grid;
  background-color: darkorange;
  height: 100%;
  justify-items: center;
  justify-content: center;
  padding: 1em;
  align-items: center;
}

.title, .text {
  font-size: 2em;
  justify-content: center;
}

.buttons {
  margin: auto;

  .learn-words, .record-words, .word-test{
    margin: 1em;
    height: auto;
    font-size: 2em;
    padding: 0.5em;
  }
}

