.container {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: cornflowerblue;
  height: 100%;
  padding: 2em;
}

.navigation {
  padding: 1em;
  background-color: cornflowerblue;
}

.back-button {
  font-size: 1.5em;
  padding: 0.5em;
}

.singleWord, .result {
  color: white;
  font-size: 2em;
  padding: 1em;
}

.translation {
  align-items: center;
}

.buttons {
  height: 2em;
  padding: 1em;
}

.checkResultButton, .nextWord {
  font-size: 1.5em;
  margin: 1em;
  padding: 1em;
}

input {
  height: 3em;
  width: auto;
  font-size: 2em;
}

