.container {
  background-color: cornflowerblue;
  width: 50%;
  margin: auto;
  padding: 2em;
}

.singleWord, .result {
  color: white;
  font-size: 2em;
  padding: 1em;
}


button {
  margin: 1em;
  padding: 1em;
}

input {
  height: 2em;
  width: auto;
}
